.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td,
    th {
      vertical-align: middle;
    }
  }
  
  .btn {
    margin-right: 10px;
  }
  h2 {
    text-align:center;
    margin-bottom: 50px;
  }

  .loginForm{
    width: 400px;
    align-self: center;
    margin-left: 400px;
  }