<div class="card" style="width: 18rem; min-width: 465px;">
    <div class="card-body">
      <h2 class="card-title" style="text-align: center;">{{book?.title}}</h2>
      <p class="card-text">
        <span class="details-label">Author:</span> {{book?.author}}
      </p>
      <p class="card-text">
        <span class="details-label">Description:</span> {{book?.description}}
      </p>
      <p class="card-text">
        <span class="details-label">Language:</span> {{book?.language}}
      </p>
      <p class="card-text">
        <span class="details-label">Year:</span> {{book?.year}}
      </p>
      <!-- <a href={{book?.link}} target="_blank" class="btn btn-primary">More details . . . </a> -->
    </div>
  </div>
  